.sections-wrapper {
  max-height: 100svh;
  overflow: hidden;
  &.isFoundSomething {
    overflow: auto;
    .section-search-form {
      height: 130px;
    }
  }
}
.section-search-form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 0.3s ease;
}

.form-notifications {
  margin-top: 0.5em;
  transform-origin: top center;
  animation: scaleIn 0.2s 1;
  &__list {
    list-style: none;
    li {
      padding: 0.2em 0.5em;
      background: #795548;
      border-radius: 0.3em;
      & + li {
        margin-top: 0.2em;
      }
    }
  }
}
@keyframes scaleIn {
  from {
    transform: scaleY(0);
  }
}

.films-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px -12px;
  @media screen and (max-width: 640px) {
    margin: 0 -5px -10px;
  }
  &__item {
    width: calc(25% - 16px);
    margin: 0 6px 12px;
    @media screen and (max-width: 640px) {
      width: calc(50% - 10px);
      margin: 0 5px 10px;
    }
  }
}
:host {
  app-ui-film-card {
    height: 100%;
  }
  .films-list + pagination {
    display: block;
    margin-top: 40px;
  }
}
.section-search-result {
  padding-bottom: 60px;
}
