<div class="sections-wrapper" [ngClass]="{'isFoundSomething': isFoundSomething}" #sectionWrapper>
  <section class="section-search-form">
    <div class="container">
      <ui-site-logo></ui-site-logo>
      <form class="search-form">
        <label class="form-label"><input name="search-string" type="text" class="form-field" [placeholder]="placeholderString" [formControl]="searchControl" (input)="addQueryParams({s: searchField.value})" #searchField></label>
        <div class="form-notifications" *ngIf="isLoaded && !isFoundSomething && !isSearchFieldEmpty">
          <ul class="form-notifications__list">
            <li><p class='ta_center' >Извините, этот фильм не найден!(</p></li>
          </ul>
        </div>
      </form>
    </div>
  </section>

  <ng-container *ngIf='films$ | async as films'>
    <ng-container *ngIf='films.length;'>
      <section class="section-search-result">
        <div class="container">
          <div class="films-list">
            <div class="films-list__item" *ngFor="let film of films;">
              <app-ui-film-card [film]="film" (linkAction)='navigateToFilm($event)'></app-ui-film-card>
            </div>
          </div>
          <pagination [(data)]="paginationData" (dataChange)="addQueryParams({p: paginationData.page})"></pagination>
        </div>
      </section>
    </ng-container>
  </ng-container>
</div>




