<section class="section-top-bar">
    <div class="container">
        <ui-site-logo></ui-site-logo>
    </div>
</section>
<section class="login-section">
    <div class="container">
        <form class="form login-form" [formGroup]="loginForm" (submit)="submitForm($event)">
            <div class="form-title">Аутентификация</div>
            <label class="form-label">
                <input type="text" class="form-field" placeholder="Почта@zzz.zz" formControlName="email">
                <ng-container *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
                    <div class="form-errors">
                        <span *ngIf="loginForm.controls['email'].errors?.['required']" class="form-error-message">Почта обязательна</span>
                        <span *ngIf="loginForm.controls['email'].errors?.['email']" class="form-error-message">Некорректная почта</span>
                    </div>
                </ng-container>
            </label>
            <label class="form-label">
                <input type="password" class="form-field" placeholder="Пароль" formControlName="password">
                <ng-container *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
                    <div class="form-errors">
                        <span *ngIf="loginForm.controls['password'].errors?.['required']" class="form-error-message">Пароль обязателен</span>
                    </div>
                </ng-container>
            </label>
            <button class="btn-sm btn_success">Войти</button>
        </form>
    </div>
</section>
