.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  &__pages {
    display: flex;
    list-style: none;
    margin: 0 -3px;
  }

  &__page {
    display: block;
    margin: 0 3px;
    &-btn {
      width: 32px;
      height: 32px;
      background: #053052;
      padding: 0.1em;
      color: #fefefe;
      font-size: 14px;
      line-height: 30px;
      border-radius: 0.3em;
      text-overflow: ellipsis;
      overflow: hidden;
      &_current {
        background-color: #ffeb3b;
        color: #000000;
        cursor: default;
        pointer-events: none;
      }
    }
  }
}
