<ng-container *ngIf="!!data?.pages">
  <div class="pagination">
    <ul class="pagination__pages">
      <li class="pagination__page" *ngFor="let page of pagesArray;">
        <button class="pagination__page-btn " [ngClass]="{'pagination__page-btn_current': page === data?.page}" (click)="changePage(page)">{{page}}</button>
      </li>
    </ul>
  </div>
</ng-container>
