.film-page-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  perspective: 1000px;
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  padding: 18px 0;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
  &__poster {
    position: relative;
    width: 480px;
    max-width: 100%;
    flex-shrink: 0;
    overflow: hidden;
    @media screen and (min-width: 769px) {
      width: 50%;
      margin: 3% 0;
      transform: rotateY(36deg);
      transform-style: preserve-3d;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
  &__poster:before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 155%;
    box-shadow: inset 0px 0px 23px -10px #cecece;
  }
  &__info {
    flex-grow: 1;
    margin-left: 10px;
    padding-top: 40px;
  }
  &__year {
    color: #cddc39;
    font-size: 1.2em;
  }
  &__name {
    font-size: 2.6em;
    line-height: 1.3em;
  }
  &__genres {
    list-style: none;
    font-size: 1em;
    line-height: 1.2em;
    li {
      display: inline-block;
      color: #ffc107;
      margin-right: 0.3em;
    }
  }
  &__description {
    font-size: 1em;
    line-height: 1.3em;
    text-align: justify;
    margin-top: 0.3em;
  }
  &__quotes {
    margin-top: 2em;
    &-list {
      list-style: none;
      font-size: 1.3em;
      font-weight: bold;
      font-style: italic;
      color: #ffeb3b;
      li {
        line-height: 1em;
        padding: 0.5em 0;
        background-image: linear-gradient(45deg, #f44336, #ffeb3b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        & + li {
          margin-top: 0.3em;
        }
        &:before,
        &:after {
          display: inline-block;
          color: #98a04d;
          font-size: 1.8em;
          line-height: 0.1em;
          font-weight: 400;
          text-shadow: 2px -1px 0px #393f00;
          vertical-align: middle;
          margin: 0 0.1em;
        }
        &:before {
          content: "❛❛";
          vertical-align: top;
          margin-right: 0.1em;
        }
        &:after {
          content: "❜❜";
          vertical-align: bottom;
          margin-left: 0.1em;
        }
        p {
          display: inline;
        }
      }
    }
  }
}
