<ng-container *ngIf="film">
    <div class="film-page-card">
        <div class="film-page-card__poster"><img src="{{film.posterSrc}}" alt="'{{film.name}} постер'"></div>
        <div class="film-page-card__info">
            <div class="film-page-card__year">{{film.year}}</div>
            <div class="film-page-card__name">{{film.name}}</div>
            <ul class="film-page-card__genres"><li *ngFor="let genre of film.genre">{{genre}}</li></ul>
            <div class="film-page-card__description"><p>{{film.description}}</p></div>
            <div class="film-page-card__quotes" *ngIf="film.quotesMap?.quotes;">
                <ul class="film-page-card__quotes-list"><li *ngFor="let quote of film.quotesMap?.quotes"><p>{{quote}}</p></li></ul>
            </div>
        </div>
    </div>
</ng-container>
