<div class="notification-center" [ngClass]="'notification-center_' + config.position.y + '-' + config.position.x">
  <div class="notification-list">
    <ng-container *ngFor="let notification of notifications$|async; trackBy: trackByFn">
      <notification-item [notification]="notification"></notification-item>
    </ng-container>
  </div>
</div>
