.notification {
  &-center {
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 100%;
    user-select: none;
    z-index: 9999;
    &_top-right {
      bottom: initial;
      top: 0;
    }
    &_top-left {
      bottom: initial;
      right: initial;
      top: 0;
      left: 0;
    }
    &_bottom-left {
      right: initial;
      left: 0;
    }
  }

  &-list {
    --padding: 0.5em;
    padding: var(--padding);
    max-height: 100vh;
    //padding-right: calc(40px - var(--padding));
    //margin-right: -40px;
    overflow-y: auto;
    overscroll-behavior: contain;
  }
}

:host {
  notification-item + notification-item {
    display: block;
    margin-top: 0.5em;
  }
}
