:host ui-film-list-card {
  flex-grow: 1;
}
.films-list {
  list-style: none;
  li + li {
    margin-top: 1em;
  }
  li {
    display: flex;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-end;
    }
  }
  .actions {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    @media screen and (min-width: 769px) {
      flex-direction: column;
      flex-basis: 120px;
      margin-left: 15px;
    }
    @media screen and (max-width: 768px) {
      margin-top: 15px;
    }

    & > *:not(:first-child) {
      @media screen and (min-width: 769px) {
        margin-top: 0.5em;
      }
      @media screen and (max-width: 768px) {
        margin-left: 0.5em;
      }
    }

    & button {
      width: 100%;
    }
  }
}
