<ui-page-title-banner [title]="'Фильмы с цитатами'"></ui-page-title-banner>
<section class="section section-films-list">
  <div class="container">
    <ul class="films-list">
      <li *ngFor="let film of films$ | async">
        <ui-film-list-card [film]="film" (linkEmitter)="linkToFilm($event)"></ui-film-list-card>
        <div class="actions">
          <a class="btn-sm btn_neutral" routerLink="/admin/films/edit/{{film.id}}">Редактировать</a>
          <button class="btn-sm btn_danger" (click)="remove(film.quotesMap?.id || '')">Удалить</button>
        </div>
      </li>
    </ul>
  </div>
</section>
