.section-title-banner {
  min-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffeb3b;
  color: #000;
  text-align: center;
  .page-title {
    text-transform: uppercase;
  }
}
