<ui-page-title-banner [title]="pageTitle"></ui-page-title-banner>
<section class="section">
  <div class="container">
    <form class="form add-movie-form" (submit)="$event.preventDefault()">
      <label class="form-label">
        <div class="form-field-flex-wrap">
          <ng-container  *ngIf="filmName$ | async as filmName; else selectFilmContainer">
            <output class="form-field">{{filmName}}</output>
          </ng-container>
          <ng-template #selectFilmContainer>
            <ui-search-list [control]="filmNameControl" [placeholder]="'Название фильма'" [hideList]="!!(filmName$ | async)" [dataList]="filmsDataList$ | async" (itemSelected)="selectFilm($event)">
              <ng-template let-item="item"><img src="{{item.posterSrc}}" class="ui-search-list__item-img" *ngIf="!!item.posterSrc" alt=""> {{item.name}} ({{item.year}})</ng-template>
            </ui-search-list>
          </ng-template>
          <button class="btn-sm btn_danger" *ngIf="!(isEditMode$|async)" (click)="resetFilm()">Сбросить</button>
        </div>
      </label>
      <ng-container *ngIf="filmName$ | async">
        <div class="form-label">
          <div class="form-field-name">Цитаты к фильму</div>
          <feature-admin-quotes-manage *ngIf="filmQuotes$ | async as filmQuotes" [quotes]="filmQuotes"></feature-admin-quotes-manage>
        </div>
        <button class="btn-sm btn_success" (click)="saveQuotes()">Сохранить</button>
      </ng-container>
    </form>
  </div>
</section>
