<ng-container *ngIf="notification">
  <div @animationIn class="notification-list__item notification-item"  [ngClass]="'notification-item_' + notification.type" (click)="service.destroy(notification.id)">
    <div class="notification-item__figure" [ngSwitch]="notification.type">
      <info-icon *ngSwitchCase="NotificationTypes.info"></info-icon>
      <success-icon *ngSwitchCase="NotificationTypes.success"></success-icon>
      <warning-icon *ngSwitchCase="NotificationTypes.warning"></warning-icon>
    </div>
    <div class="notification-item__text-block">
      <div class="notification-item__title" *ngIf="!!notification.title">{{notification.title}}</div>
      <div class="notification-item__description"><p>{{notification.text}}</p></div>
    </div>
    <div class="notification-item__time">AT<br>{{notification.timestamp | date:'h:mm:ss a'}}</div>
  </div>
</ng-container>
