.notification {
  &-item {
    display: flex;
    align-items: center;
    width: 300px;
    max-width: 100%;
    padding: 0.8em 0.6em;
    line-height: 1.15em;
    color: #fff;
    background-color: rgb(139 195 74 / 90%);
    border-radius: 0.3em;
    cursor: pointer;
    &_warning {
      background-color: rgb(244 67 54 / 90%);
    }
    &_info {
      background-color: rgb(32 148 243 / 90%);
    }

    &__figure {
      width: 40px;
      height: 40px;
      background: rgb(255 255 255 / 16%);
      padding: 0.44em;
      flex-shrink: 0;
      margin-right: 10px;
      border-radius: 50%;
      animation: notification-icon-ring 0.8s 0.1s 1;

      svg,
      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__text-block {
      flex-grow: 1;
    }

    &__title {
      font-size: 1em;
      font-weight: bold;
      letter-spacing: 0.03em;
    }

    &__description {
      font-size: 0.9em;
      line-height: 1.1em;
      margin-top: 0.2em;
    }

    &__time {
      font-size: 0.8em;
      line-height: 1.1em;
      text-align: center;
    }
  }
}

@keyframes notification-icon-ring {
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: rotate(15deg);
  }
  20%,
  40%,
  60%,
  80% {
    transform: rotate(-15deg);
  }
}
