:host {
  width: 100%;
}
.search-list-control {
  position: relative;
  width: 100%;
  z-index: 1;
  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow: auto;
    list-style: none;
    background: #2f3a59;
    margin-top: -0.23em;
    border-radius: 0em 0em 0.3em 0.3em;
    z-index: -1;
    li {
      padding: 0.2em;
      cursor: pointer;
      &:first-child {
        padding-top: 0.63em;
      }
      &:hover {
        background-color: #49526b;
      }
    }
    img {
      width: 34px;
      vertical-align: middle;
    }
  }
}
