<div class="search-list-control" *ngIf="control">
  <input type="text" class="form-field" [placeholder]="placeholder || ''" [formControl]="control">
  <div class="search-list-control__list-wrap" *ngIf="dataList && !hideList">
    <ul class="search-list-control__list" >
      <li *ngFor="let item of dataList" (click)="select(item)">
        <ng-container *ngIf="templateRef">
          <ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{item}"></ng-template>
        </ng-container>
      </li>
    </ul>
  </div>
</div>
