header {
  padding: 16px 0;
}
.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  @media screen and (max-width: 768px) {
    margin-top: 0.5em;
  }
  li + li {
    margin-left: 1.5em;
  }
  a {
    display: inline-block;
    font-size: 16px;
    line-height: 1.2em;
  }
}
