<header>
  <div class="container">
    <div class="header-row">
      <ui-site-logo></ui-site-logo>
      <nav class="main-nav">
        <ul class="nav-list">
          <li><a href="" routerLink="/admin/films">Цитаты</a></li>
          <li><a href="" routerLink="/admin/films/add">Добавить цитаты</a></li>
          <li><a href="" class="logout btn-sm btn_sunny" (click)="logout($event)">Выйти</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
