<ng-container *ngIf="$film | async as film">
    <section class="section-top-bar">
        <div class="container">
            <ui-site-logo></ui-site-logo>
        </div>
    </section>
    <section class="section-film">
        <div class="container">
            <ui-film-page-card [film]="film"></ui-film-page-card>
        </div>
    </section>
</ng-container>


