:host {
  display: block;
}
.film-card .film-card[_ngcontent-ng-c2683198798] {
  position: relative;
  height: 100%;
  background: #02050f;
  border: 1px solid #1f1f3d;
  border-radius: 0.3em;
  /* box-shadow: inset 0px 0px 23px -10px #ffeb3b; */
  overflow: hidden;
}

.film-card {
  position: relative;
  height: 100%;
  background: #02050f;
  border: 1px solid #1f1f3d;
  border-radius: 0.3em;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.3em;
    box-shadow: inset 0px 0px 23px -10px #cecece;
    z-index: 1;
    pointer-events: none;
    user-select: none;
  }
  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  &__poster {
    position: relative;
    width: 100%;
    padding-bottom: 136%;
    img {
      position: relative;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__info {
    padding: 1em;
    color: #fff;
    @media screen and (max-width: 768px) {
      padding: 0.7em 0.5em;
    }
  }
  &__year {
    color: #cddc39;
    font-size: 0.8em;
  }
  &__name {
    font-size: 1.6em;
    line-height: 1em;
    @media screen and (max-width: 768px) {
      font-size: 1.2em;
    }
  }
  &__genres {
    list-style: none;
    line-height: 1em;
    li {
      display: inline-block;
      font-size: 0.7em;
      line-height: 0.9em;
      color: #ffc107;
      margin-right: 0.3em;
      &:not(:last-child):after {
        content: ",";
      }
    }
  }
  &__description {
    font-size: 0.9em;
    line-height: 1.2em;
    margin-top: 0.3em;
  }
}
