<ng-container *ngIf="film">
    <div class="film-card" >
        <a (click)="linkEmmit()">
            <div class="film-card__poster"><img src="{{film.posterSrc}}" alt="'{{film.name}} постер'"></div>
            <div class="film-card__info">
                <div class="film-card__year">{{film.year}}</div>
                <div class="film-card__name">{{film.name}}</div>
                <ul class="film-card__genres"><li *ngFor="let genre of film.genre">{{genre}}</li></ul>
                <div class="film-card__description" *ngIf="!!film.description">{{film.description}}</div>
            </div>
        </a>
    </div>
</ng-container>

