.film-list-card {
  display: flex;
  align-items: center;
  font-size: 13px;
  a {
    cursor: pointer;
  }
  &__info {
    flex-grow: 1;
  }
  &__year {
    color: #cddc39;
    font-size: 1.2em;
  }
  &__name {
    font-size: 2.6em;
    line-height: 1.3em;
  }
  &__genres {
    list-style: none;
    font-size: 1em;
    line-height: 1.2em;
    li {
      display: inline-block;
      color: #ffc107;
      margin-right: 0.3em;
    }
  }
  &__description {
    font-size: 1.2em;
    line-height: 1.4em;
    margin-top: 0.3em;
  }
}
