<ng-container *ngIf="film">
    <div class="film-list-card">
      <a (click)="linkHandler()">
        <div class="film-list-card__poster"></div>
        <div class="film-list-card__info">
          <div class="film-list-card__year">{{film.year}}</div>
          <div class="film-list-card__name">{{film.name}}</div>
          <ul class="film-list-card__genres"><li *ngFor="let genre of film.genre">{{genre}}</li></ul>
          <div class="film-list-card__description">{{film.description}}</div>
        </div>
      </a>
    </div>
</ng-container>
