.site-logo {
  text-align: center;
  font-size: 2em;
  @media screen and (max-width: 768px) {
    font-size: min(2em, 10.4vw);
  }
  font-style: italic;
  transition: font-size 0.3s ease;
}

.sections-wrapper {
  &:not(.isFoundSomething) {
    :host .site-logo {
      font-size: 5em;
      @media screen and (max-width: 768px) {
        font-size: 10.4vw;
      }
    }
  }
}

.section-top-bar {
  :host .site-logo {
    margin-top: 20px;
  }
}
