/* You can add global styles to this file, and also import other style files */
@import "_variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Oswald", sans-serif;
  background: $black;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

input,
textarea,
output {
  display: inline-block;
  border: none;
  outline: none;
  font: inherit;
  &.form-field {
    height: 44px;
    padding: 0.1em 0.5em;
    color: $black;
    background-color: #ffeb3b;
    border-radius: 0.3em;
    transition: background-color 0.22s;
    &:disabled {
      background-color: #bdb576;
    }
  }
}
output {
  &.form-field {
    line-height: 40px;
  }
}
.container {
  width: 1130px;
  max-width: 100%;
  padding: 0 12px;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  padding: 0.4862em 0.9em;
  border-radius: 0.3em;
  color: $black;
  &-xs-sm {
    @extend .btn;
    font-size: 12px;
    padding: 0.3em 0.6em;
  }
  &-sm {
    @extend .btn;
    font-size: 16px;
  }
  &-lg {
    @extend .btn;
    font-size: 20px;
  }
  &-text-icon {
    @extend .btn;
    width: 24px;
    height: 24px;
    padding: 0.1em;
    font-size: 14px;
    line-height: 1em;
  }
  &_neutral {
    background-color: #03a9f4;
  }
  &_success {
    background-color: #8bc34a;
  }
  &_danger {
    background-color: #f44336;
  }
  &_sunny {
    background-color: #ffeb3b;
    color: $black;
  }
}

.form {
  &-title {
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }
  &-label {
    display: block;
    & + .form-label {
      margin-top: 0.5em;
    }
    & + button {
      margin-top: 0.5em;
    }
  }
  &-field {
    width: 100%;
    &-name {
      margin-bottom: 0.3em;
    }
    &-flex-wrap {
      display: flex;
      & > button {
        margin-left: 0.5em;
      }
    }
  }
  &-error-message {
    display: block;
  }
}

.section {
  padding: 50px 0;
}

.form {
  max-width: 100%;
  background: #101935;
  padding: 2em 1em;
  border-radius: 0.5em;
}
