.quotes-list {
  list-style: none;
  margin-top: 0.5em;
  &:empty {
    margin: 0;
  }
  &__item {
    display: flex;
    align-items: flex-start;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    & + & {
      padding-top: 0.3em;
      margin-top: 0.3em;
      border-top: 1px solid #2a334f;
    }
    &-actions {
      display: flex;
      button {
        margin-right: 0.5em;
      }
    }
  }
}
