<div class="form-field-flex-wrap">
  <input type="text" class="form-field" placeholder="Цитата" [formControl]="quoteNameControl">
  <button class="btn-sm btn_neutral" (click)="addQuote(quoteNameControl.value)">Добавить</button>
</div>
<ul class="quotes-list">
  <li class="quotes-list__item" *ngFor="let quote of quotesService.getQuotes(); index as i">
    <div class="quotes-list__item-actions">
      <button class="btn-text-icon btn_danger" (click)="quotesService.removeQuote(i)">&#10005;</button>
      <button class="btn-text-icon btn_neutral" (click)="startEditingQuoteMode(i, $event)">&#9998;</button>
    </div>
    <p [contentEditable]="isQuoteEditingID === i" (blur)="stopEditingQuoteMode(i, $event)" [focus]="isQuoteEditingID === i" tabindex="-1">{{quote}}</p>
  </li>
</ul>
